<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Ignite San Diego: Speaker Guidelines</title>
    <meta name="viewport" content="width=750" />
    <link href="images/favicon.png" rel="shortcut icon" />
    <link rel="stylesheet" type="text/css" href="stylesheets/ignite.css" />
    <!--[if IE 7]><link href="stylesheets/ie7.css" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
    <!--[if IE 6]><link href="stylesheets/ie6.css" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
    <link media="only screen and (max-device-width: 480px)" href="stylesheets/iphone.css" rel="stylesheet" type="text/css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript">
    </script>
  </head>
  <body>
    <div class="header">
      <h1>
        <a href="/" rel="bookmark self"><img src="images/logo_back.png"
        alt="Ignite San Diego" width="258" height="127" id="logo_back" /></a>
        <span class="summary">Ignite San Diego</span>
      </h1>
    </div>
    <div class="guidelines section">
      
      <h3>Guidelines for Ignite San Diego Presenters</h3>

      <p>An Ignite talk consists of 20 slides that automatically advance every 15 seconds, giving a total talk length of 5 minutes.</p>
      
      <p>Ignite talks are about sharing your passions. You may plug your business/product on one of your twenty slides, but we ask you please refrain from making your entire talk a direct advertisement or pitch for a service or product.  Talk about the lessons that you've learned, or things that most people may not know.</p>
      
      <p>Slides will be presented using a Macintosh computer, running Mac OS Mountain Lion, along with Microsoft PowerPoint 2008 and Keynote '09 (from the iWork app suite).</p>
      
      <h4>Creating your slides</h4>

      <p>Please follow these guidelines when creating your slides:</p>
      
      <ol>
      <li>Save your slides in either Keynote (".key") or PowerPoint (".ppt" or ".pptx").</li>
      <li>Keep slides simple. Please refrain from using animations or sounds.</li>
      <li>You must have exactly 20 original slides. Do not duplicate slides.</li>
      <li>Your slides should be designed for 1024x768 resolution.</li>
      <li>When adding images, make sure images are downsized appropriately. If you're using images from a phone or camera, this is especially important.</li>
      <li>Please include your talk name in your slideshow file. (Example: "dutch_ovens_are_awesome_talk.ppt")</li>
      <li>If using unique fonts, please embed them in the file, include them when sending them to us, or save out the slides as images.</li>
      </ol>
      
      <h4>Submitting your slides</h4>

      <p>Please follow these guidelines when submitting your slides:</p>

      <ol>
      <li>Email a copy to <a href="mailto:ignitesandiego@gmail.com">ignitesandiego@gmail.com</a>.</li>
      <li>Post your slides to <a href="http://www.slideshare.net/">Slideshare</a> for public viewing. (You can do this after the presentation to avoid spoiling any surprises!)</li>
      </ol>

      <p><strong>Slides must be submitted by 11:59 pm on Sunday, July 7.</strong></p>
      
      <p>Any questions? <a href="mailto:ignitesandiego@gmail.com">Drop us a line</a>.</p>
    
    </div>
  
    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    try {
    var pageTracker = _gat._getTracker("UA-9900884-1");
    pageTracker._trackPageview();
    } catch(err) {}</script>
  </body>
</html>