<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Ignite San Diego: Talks</title>
    <meta name="viewport" content="width=750" />
    <link href="images/favicon.png" rel="shortcut icon" />
    <link rel="stylesheet" type="text/css" href="stylesheets/ignite.css" />
    <!--[if IE 7]><link href="stylesheets/ie7.css" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
    <!--[if IE 6]><link href="stylesheets/ie6.css" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
    <link media="only screen and (max-device-width: 480px)" href="stylesheets/iphone.css" rel="stylesheet" type="text/css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript">
    </script>
  </head>
  <body>
    <div class="header">
      <h1>
        <a href="/" rel="bookmark self"><img src="images/logo_back.png"
        alt="Ignite San Diego" width="258" height="127" id="logo_back" /></a>
        <span class="summary">Ignite San Diego</span>
      </h1>
    </div>
    <div class="talks section">
      <h2>Talks</h2>
      
      <div class="talk">
        <h3 class="talk">Open San Diego - Making An Even Finer City</h3>
        <p class="speaker"><a href="http://twitter.com/jedsundwall">Jed Sundwall</a></p>
        <p class="description">
          How we can make San Diego a better place by making city data available
          freely available for anyone to use?
        </p>
      </div>
      
      <div class="talk">
        <h3 class="title">Evolving AI: Lt. Data Will Be Born From Artificial Worms</h3>
        <p class="speaker"><a href="http://twitter.com/slars0n">Stephen Larson</a></p>
        <p class="description">
          AI's next great species, the artificial worm, will link neuroscience
          with computing and catapult us into an age of Star Trek-like
          intelligent systems.
        </p>
      </div>

      <div class="talk">
        <h3 class="title">iPhone Development: How To Start?</h3>
        <p class="speaker"><a href="http://twitter.com/roelofroos">Roelof Roos</a></p>
        <p class="description">
          If you are thinking about starting with iOS (iPhone / iPad / iPod
          touch) development, this talk is for you. In this session an
          experienced iOS developer will get you started. I will tell you what
          to look at, and what to skip for now. No programming background
          required, but it might come in very handy.
        </p>
      </div>

      <div class="talk">
        <h3 class="title">The Democratization of Video: Everyone Can Have A Voice</h3>
        <p class="speaker"><a href="http://twitter.com/nicmcc">Nicole McCleaf</a></p>
        <p class="description">
          The Open Video movement promotes an accessible, interoperable, and
          innovative future of video.
        </p>
      </div>

      <div class="talk">
        <h3 class="title">Waffles!</h3>
        <p class="speaker"><a href="http://twitter.com/justsomeguy">Jason Alderman</a></p>
        <p class="description">
          An ode to the mouthwatering joy of waffles (particularly authentic
          sugar-waffles and how to make them), beginning with a story of revenge
          on the cold streets of Belgium.
        </p>
      </div>

      <div class="talk">
        <h3 class="title">How To Think Like A Statistician</h3>
        <p class="speaker"><a href="http://twitter.com/Madrox">David Horn</a></p>
        <p class="description">
          Some (mathless) tips on how to approach problems and questions in our
          everyday world like a statistician would.
        </p>
      </div>
      
      <div class="talk">
        <h3 class="title">What If Limits Exist?</h3>
        <p class="speaker"><a href="http://twitter.com/thelinkery">Jay Porter</a></p>
        <p class="description">
          All modern industrial societies have been structured on the premise
          that we can indefinitely increase our economic growth, technological
          prowess, population, and resource extraction.
          What if that assumption is incorrect, and there are in fact limits to
          what our universe can provide us? When and how would that affect our
          lives and consciousness, and what would could we do when faced with
          the end of growth?
        </p>
      </div>

      <p class="break"><strong>Break</strong></p>

      <div class="talk">
        <h3 class="title">The Sky Is Falling: Quantum Vacuum Collapse And 16 Other Ways The World Will End</h3>
        <p class="speaker"><a href="http://twitter.com/jarin">Jarin Udom</a></p>
        <p class="description">
          In the words of the esteemed Chicken Little: "We're fucked."
          A rollicking good time for the whole family, or your money back!</p>
      </div>

      <div class="talk">
        <h3 class="title">Your Chair Is Killing You</h3>
        <p class="speaker"><a href="http://twitter.com/e_ramirez">Ernesto Ramirez</a></p>
        <p class="description">
          Do you have a $500 ergonomic super chair? Do you spend hours at your
          computer everyday? Do you know that you may be slowly killing yourself
          sitting there all day like a lazy sack of potatoes?
          Learn more in this short talk about new research explaining why
          sedentary behavior is affecting your health. Plus office hacks to make
          your environment physical activity friendly.
        </p>
      </div>
      
      <div class="talk">
        <h3 class="title">System Architects Needed - Why developers Should Run For Public Office</h3>
        <p class="speaker"><a href="http://twitter.com/baconner">Brian Conner</a></p>
        <p class="description">
          The explosive growth of interest around Gov 2.0 has uncovered a wealth
          of developers ready to change government from their laptops... but this
          is only the first step. To build an effective and open 21st century
          government developers must step up. Learn exactly why we need you to
          bring your intelligence, energy, clarity, and yes *mad coding skills*
          to public office.
        </p>
      </div>

      <div class="talk">
        <h3 class="title">What's Underneath *Your* Clothes?</h3>
        <p class="speaker"><a href="http://twitter.com/auroraawakes">Sarah Markels</a></p>
        <p class="description">
          Among other things, your identity. The internet lets you explore this,
          and clothes may be a cue, but they don't always tell you everything.
          And sometimes you have to strip *down to the essentials* to see all of
          who you are.
        </p>
      </div>
      
      <div class="talk">
        <h3 class="title">Ignite Karaoke</h3>
        <p class="speaker"><a href="http://twitter.com/orangewolf">Rob Kaufman</a></p>
        <p class="description">
          Rob will be giving an impromptu talk on... well... we have no idea. 
          And he doesn't either! This is what happens when someone else makes your slides.
        </p>
      </div>

      <div class="talk">
        <h3 class="title">PieTrust: The Coming Reputation Economy</h3>
        <p class="speaker"><a href="http://twitter.com/bshanks">Bayle Shanks</a></p>
        <p class="description">
          Let's replace companies, where you get paid to follow orders, with
          "open companies" where anyone can join and work on what they want,
          getting paid according to peer-review. This winter, a local startup
          (itself an open company) is creating an reputation "currency".
        </p>
      </div>
    
      <div class="talk">
        <h3 class="title">Arts Journalism: A New Model</h3>
        <p class="speaker"><a href="http://twitter.com/Kinsee">Kinsee Morlan</a></p>
        <p class="description">
          Print journalism is struggling and often the first thing to go is the
          arts coverage. Let's look into different models of journalism that
          could ensure quality arts coverage for San Diego in the future.
        </p>
      </div>

      <div class="talk">
        <h3 class="title">Teaching Kids Programming</h3>
        <p class="speaker"><a href="http://twitter.com/isidore_us">Llewellyn Falco</a></p>
        <p class="description">
          We are an increasing technical world, yet we are not teaching kids to
          create this world. Comp-Sci enrollment is down 50% over the last 10
          years. A big part of this is the teachers. I outline what the problem
          is, and what <em>you</em> can do to be part of the solution.
        </p>
      </div>

      <div class="talk">
        <h3 class="title">Lose Your Job, Find Your Life</h3>
        <p class="speaker"><a href="http://twitter.com/jmarkow">Jason Markow</a></p>
        <p class="description">
          In five minutes, I will share how sending one email (telling a company
          their website sucked) led to eating PB&amp;Js with (and made by) award
          winning superstars, while assisting in the gulf oil spill cleanup. In
          other words: How ANYTHING IS POSSIBLE.
        </p>
      </div>
          
    </div>
  
    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    try {
    var pageTracker = _gat._getTracker("UA-9900884-1");
    pageTracker._trackPageview();
    } catch(err) {}</script>
  </body>
</html>