<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Ignite San Diego: Talks</title>
    <meta name="viewport" content="width=750" />
    <link href="images/favicon.png" rel="shortcut icon" />
    <link rel="stylesheet" type="text/css" href="stylesheets/ignite.css" />
    <!--[if IE 7]><link href="stylesheets/ie7.css" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
    <!--[if IE 6]><link href="stylesheets/ie6.css" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
    <link media="only screen and (max-device-width: 480px)" href="stylesheets/iphone.css" rel="stylesheet" type="text/css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript">
    </script>
  </head>
  <body>
    <div class="header">
      <h1>
        <a href="/" rel="bookmark self"><img src="images/logo_back.png"
        alt="Ignite San Diego" width="258" height="127" id="logo_back" /></a>
        <span class="summary">Ignite San Diego</span>
      </h1>
    </div>
    <div class="talks section">
      <h2>Talks</h2>

      <div class="talk">
        <h3 class="title">Intro to Ignite and SD Tech Week</h3>
        <p class="speaker"><a href="https://twitter.com/jennyjenjen">Jennifer Newell</a></p>
      </div>

      <div class="talk">
        <h3 class="title">Battling Code Illiteracy</h3>
        <p class="speaker"><a href="https://twitter.com/bastosmichael">Michael Bastos</a></p>
      </div>
      
      <div class="talk">
        <h3 class="title">The World is Your Interface: Off the Screen and Into Our Everyday Lives</h3>
        <p class="speaker"><a href="https://twitter.com/moonshinedesign">Adrienne Levin</a></p>
      </div>
      
      <div class="talk">
        <h3 class="title">How To Sleep Properly</h3>
        <p class="speaker"><a href="https://twitter.com/orangewolf">Rob Kaufman</a></p>
      </div>
      
      <div class="talk">
        <h3 class="title">BOINK! Scientific Progress Through Facilitated Foraging</h3>
        <p class="speaker"><a href="https://twitter.com/neuromusic">Justin Kiggins</a></p>
      </div>
      
      <div class="talk">
        <h3 class="title">How Not To Be Fat</h3>
        <p class="speaker"><a href="https://twitter.com/mitchwagner">Mitch Wagner</a></p>
      </div>
      
      <div class="talk">
        <h3 class="title">Hacking the Problem You've Never Heard Of</h3>
        <p class="speaker"><a href="https://twitter.com/usethespacebar">Grant Vousden-Dishington</a></p>
      </div>
      
      <div class="talk">
        <h3 class="title">A 6,000-Mile Journey Using the Theory Of Quantified Self</h3>
        <p class="speaker"><a href="https://twitter.com/262sd">Noah Alpern</a></p>
      </div>
      
      <div class="talk">
        <h3 class="title">The Mission-Driven Organization</h3>
        <p class="speaker"><a href="https://twitter.com/jedsundwall">Jed Sundwall</a></p>
      </div>
      
      <div class="talk">
        <h3 class="title">Video Streaming Is Magic (No, Seriously, Come Look How Magical This Is)</h3>
        <p class="speaker"><a href="https://twitter.com/jamesjennings">James Jennings</a></p>
      </div>
      <div class="talk">
        <h3 class="title">Stop Planning Great Culture, Start Living It</h3>
        <p class="speaker"><a href="https://twitter.com/dtelepathy">Arnold Yoon</a></p>
      </div>

    </div>
  
    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    try {
    var pageTracker = _gat._getTracker("UA-9900884-1");
    pageTracker._trackPageview();
    } catch(err) {}</script>
  </body>
</html>
