
/* RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* TAGS */

body {
  width: 722px;
  margin: 30px auto 40px auto;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #fff;
  color: #333;
  font-size: 1.1em;
}

h1, h2, p, ul, li {
  margin: 0;
  padding: 0;
  font-size: 1em;
}

a {
  color: #bfbfbf;
}

a:hover {
  color: #aaa;
  text-decoration: none;
}

blockquote {
  margin: 0;
  padding: 0 3.5em;
  color: #999;
  font-size: 1.2em;
  font-weight: bold;
  position: relative;
}

abbr {
  border: 0;
}

blockquote p {
  display: inline;
}

blockquote:before {
  content: "\201c";
  position: absolute;
  top: -0.15em;
  left: .15em;
  font-size: 5em;
  margin: 0;
  padding: 0;
  color: #ddd;
}

blockquote:after {
  content: "\201d";
  position: absolute;
  top: -0.15em;
  right: 0.55em;;
  font-size: 5em;
  margin: 0;
  padding: 0;
  color: #ddd;
}


/* LAYOUT */

.header h1 {
  margin: 0 auto;
  padding: 0 0 10px 0;
  width: 400px;
}

.section {
  margin: 20px 0;
  padding: 12px 8px 12px 100px;
  border: 8px solid #bfbfbf;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  position: relative;
}

.section h2 {
  width: 90px;
  position: absolute;
  top: 10px;
  left: 8px;
  color: #999;
  text-transform: lowercase;
  font-size: 1.25em;
}

.section ul {
  list-style-type: none;
}

.section p {
  line-height: 1.2em;
}

.section p+p {
  margin: 1em 0 0 0;
}

.section a {
  color: #333;
}


/* WHEN */

.adr .street-address,
.adr .links {
  display: block;
}

.summary {
  display: none;
}


/* WHEN AND WHERE */

.links {
  color: #999;
}

.links a {
  color: #999;
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
}


/* WHERE */

.where a:hover {
  text-decoration: underline;
}


/* SIGNUP */

.signup {
  /* height: 100px; */
}

.signup blockquote {
  margin: 20px 0 0 0;
  width: 390px;
}

.signup blockquote a {
  color: #aaa;
  text-decoration: none;
}

.signup blockquote a:hover {
  text-decoration: underline;
}

@-moz-document url-prefix() {
  /* oh, silly firefox */
  blockquote:before {
    display: none;
  }
  blockquote:after {
    display: none;
  }
  .signup blockquote {
    margin-left: -40px;
  }
}


/* WHO */

.who dt {
  font-weight: bold;
  margin-bottom: 6px;
}

#speaking, #attending {
  margin-top: 1em;
}


/* TWITTER */

.tweets {
  border: 8px solid #e5e5e5;
}

.tweets h2 {
  color: #ccc;
}

.tweets a {
  color: #777;
}

#twitter_link {
  color: #999;
  display: block;
  float: right;
  font-size: .8em;
  width: 150px;
  text-align: right;
  text-decoration: none;
}

#twitter_link:hover {
  text-decoration: underline;
}

#twitter_update_list {
  margin: 25px 0 0 0;
}

#twitter_update_list li {
  clear: right;
  color: #777;
  margin: 0 0 1em 0;
}

#tweetie {
  float: left;
  display: block;
  position: absolute;
  margin: 30px 0 0 5px;
  left: 0;
}


/* SPONSORS */

.sponsors {
  border-color: #fff;
  padding: 12px 8px;
  text-align: center;
}

.sponsors img {
  margin: 0 25px 20px 25px;
}

.sponsors p {
  color: #ccc;
  font-size: 16px;
  font-weight: bold;
}

.sponsors a {
  color: #ccc;
}


/* SPECIAL THANKS */

#special_thanks {
  color: #666;
  font-size: 14px;
  margin-top: 6px;
}

#special_thanks a {
  color: #666;
}